body {
    background-color: black;
}
canvas {
    color: white;
    border: 1px solid rgb(255, 0, 0);
}

/* TODO Learn more css so you can use it in the project, also because you should come on.