body {
    background-color: black;
}
canvas {
    color: white;
    border: 1px solid rgb(255, 0, 0);
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* TODO Learn more css so you can use it in the project, also because you should come on.